{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Resumo</h1>
    <p></p>
    <p> A aplicação é uma ferramenta inovadora de auxílio ao aprendizado de matemática para alunos universitários,
        oferecendo recursos visuais que ajudam a entender gráficos e teoremas de diversas áreas da matemática, como
        cálculo,
        álgebra, análise, estatística, entre outras.</p>
    <p>Com a ajuda desta aplicação, os alunos podem explorar conceitos matemáticos de forma interativa e visual, o que
        facilita significativamente a compreensão e a memorização desses conceitos.</p>
    <p>A plataforma oferece uma ampla variedade de recursos, como animações, gráficos, exemplos, exercícios interativos
        e
        aulas ao vivo.</p>
    <p>Os gráficos e teoremas disponíveis na plataforma são apresentados de maneira clara e concisa, facilitando a
        compreensão dos alunos em relação a conceitos matemáticos complexos.</p>
    <p>Os recursos visuais oferecidos pela aplicação ajudam os estudantes a identificar padrões e tendências em dados
        complexos, melhorando suas habilidades de análise e resolução de problemas.</p>
    <p>Esta aplicação é altamente intuitiva e fácil de usar, permitindo que os alunos explorem conceitos matemáticos em
        seu
        próprio ritmo e de acordo com suas necessidades individuais. </p>
    <p>Os recursos são organizados por disciplinas e níveis, permitindo que os usuários encontrem rapidamente o conteúdo
        que
        desejam.</p>
    <p>Com a ajuda da plataforma, os estudantes podem aprimorar seu conhecimento em matemática e se preparar melhor para
        suas avaliações e trabalhos acadêmicos. </p>
    <p>Além disso, a aplicação permite que os alunos identifiquem lacunas em seu conhecimento e trabalhem para
        preenchê-las,
        o que pode ser especialmente útil para aqueles que enfrentam dificuldades em áreas específicas da matemática.
    </p>
    <p>Em resumo, esta aplicação é uma ferramenta valiosa para ajudar os estudantes universitários a visualizar e
        entender
        melhor os conceitos matemáticos, melhorando significativamente seu desempenho acadêmico.</p>
    <p>Com seus recursos interativos e visuais, é uma plataforma eficaz para auxiliar os alunos no aprendizado da
        matemática
        de maneira mais fácil, intuitiva e divertida.</p>

</div>

<div class="container">
    <h1>Criadores</h1>
    <p></p>
    <p> Carlos Costa</p>
    <img src="../static/perfis/profile_pic.jpg" width="120" height="90" alt="">
    <P></P>
    <p> Bruno Fernandes</p>
</div>

<div class="container">
    <h1>Orientadores</h1>
    <p> Fernando Miranda</p>
    <p></p>
    <p> Maria Falcão</p>

</div>

{% endblock %}